backups/
crash-reports/
exposures/
logs/
map_atlases/
saves/
schematics/
screenshots/
Distant_Horizons_server_data/

emi.json
fabricloader.log
options.txt
patchouli_data.json
rhino.local.properties
servers.dat
usercache.json
usernamecache.json
